html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::selection {
  background: black;
  /* WebKit/Blink Browsers */
  color: white;
}

::-moz-selection {
  background: black;
  /* Gecko Browsers */
  color: white;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lightblue;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#cross-hair {
  content: "";
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: red;
}
#cross-hair.over {
  background: pink;
}

body.cross-haired #cross-hair {
  display: block;
}

#info-box {
  padding: 10px;
  font-family: arial;
  z-index: 100;
  position: fixed;
  background: red;
  top: 0;
  left: 0;
  width: 150px;
  min-height: 15px;
  background: black;
  color: white;
  opacity: 0.5;
}
#info-box span {
  display: inline-table;
  min-width: 50px;
  padding-left: 10px;
}

#canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  perspective: 60vw;
}

#square {
  width: 80vw;
  height: 80vw;
  position: absolute;
  transform: translate3d(0px, 0px, 40vw) rotateX(-90deg);
  transform-style: preserve-3d;
}
#square #x-axis,
#square #z-axis {
  transform-style: preserve-3d;
  position: absolute;
  width: 80vw;
  height: 80vw;
}

#ceiling,
#floor,
.level {
  transform-style: preserve-3d;
  transition: 1s ease-in-out;
}

#ceiling,
#floor {
  top: 0;
  left: 0;
  position: absolute;
}
#ceiling .inner,
#floor .inner {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

#ceiling {
  transform: translateZ(-34vw);
}

#floor {
  transform: translateZ(6vw);
}

.ceiling,
.floor {
  transition: 0.3s;
  overflow: hidden;
}
.ceiling .panel,
.floor .panel {
  position: absolute;
  width: 40vw;
  height: 40vw;
  left: 50%;
  bottom: 0;
  transform-origin: 0.2% 100%;
  transform: rotate(-30deg);
  overflow: hidden;
  opacity: 0.9;
}
.ceiling .panel:after,
.floor .panel:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  transform: rotate(-30deg);
  transform-origin: 0% 100%;
  transition: 0.3s;
}

#canvas.first .level-1 {
  transform: translateZ(0);
}
#canvas.first .level-2 {
  transform: translateZ(40vw);
}
#canvas.first .level-3 {
  transform: translateZ(80vw);
}

#canvas.second .level-1 {
  transform: translateZ(-40vw);
}
#canvas.second .level-2 {
  transform: translateZ(0);
}
#canvas.second .level-3 {
  transform: translateZ(40vw);
}

#canvas.third .level-1 {
  transform: translateZ(-80vw);
}
#canvas.third .level-2 {
  transform: translateZ(-40vw);
}
#canvas.third .level-3 {
  transform: translateZ(0);
}

.level-part,
.ceiling,
.floor {
  width: 40vw;
  height: 34.7826086957vw;
  margin-left: 20vw;
  position: absolute;
  top: 6.5%;
  top: 5.3333333333vw;
  transform-origin: center bottom;
  transform-style: preserve-3d;
}
.level-part:nth-child(1),
.ceiling:nth-child(1),
.floor:nth-child(1) {
  transform: translate3d(0, 0, 14vw) rotate(-60deg);
}
.level-part:nth-child(2),
.ceiling:nth-child(2),
.floor:nth-child(2) {
  transform: translate3d(0, 0, 14vw) rotate(-120deg);
}
.level-part:nth-child(3),
.ceiling:nth-child(3),
.floor:nth-child(3) {
  transform: translate3d(0, 0, 14vw) rotate(-180deg);
}
.level-part:nth-child(4),
.ceiling:nth-child(4),
.floor:nth-child(4) {
  transform: translate3d(0, 0, 14vw) rotate(-240deg);
}
.level-part:nth-child(5),
.ceiling:nth-child(5),
.floor:nth-child(5) {
  transform: translate3d(0, 0, 14vw) rotate(-300deg);
}
.level-part:nth-child(6),
.ceiling:nth-child(6),
.floor:nth-child(6) {
  transform: translate3d(0, 0, 14vw) rotate(0deg);
}
.level-part .wall,
.ceiling .wall,
.floor .wall {
  position: absolute;
  height: 28vw;
  width: 100%;
  top: 0;
  left: 0;
  transform: translate3d(0%, 0%, -28vw) rotateX(90deg) rotateY(180deg);
  transform-origin: center top;
  transform-style: preserve-3d;
}

.hidden .target {
  display: none;
}

.static-img,
.target {
  transform-style: preserve-3d;
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s ease-out;
  transform: translateZ(-3em);
  border-radius: 0.5rem;
  overflow: hidden;
}

.fullscreen,
.rect {
  position: absolute;
  background-color: white;
  outline-offset: -1px;
  opacity: 0;
  transition: 0.3s ease-out 0s;
  transform: translateZ(2em);
  z-index: 1;
}
.fullscreen.is-active,
.rect.is-active {
  background: red;
  outline: 1px solid white;
}

.rect {
  width: 70%;
  height: 10%;
  bottom: 5%;
  left: 15%;
}

.fullscreen {
  width: 20%;
  height: 30%;
  top: 5%;
  right: 5%;
}

.current-level .level-part.enable-focus.focus .static-img,
.current-level .level-part.enable-focus.focus .target {
  transform: translateZ(2em);
  transition: 0.35s ease-out 0s;
}
.current-level .level-part.enable-focus.focus .rect,
.current-level .level-part.enable-focus.focus .fullscreen {
  opacity: 0.8;
  transform: translateZ(4em);
  transition: 0.25s ease-out 0.5s;
}

.level {
  pointer-events: none;
}
.level.current-level {
  pointer-events: auto;
}

video {
  width: 100%;
  height: 100%;
}
video source {
  height: 100%;
}

.level-3 .level-part:nth-child(1) .target,
.level-3 .level-part:nth-child(1) .static-img {
  background-image: url("../img/png/1.png");
}
.level-3 .level-part:nth-child(2) .target,
.level-3 .level-part:nth-child(2) .static-img {
  background-image: url("../img/png/2.png");
}
.level-3 .level-part:nth-child(3) .target,
.level-3 .level-part:nth-child(3) .static-img {
  background-image: url("../img/png/3.png");
}
.level-3 .level-part:nth-child(4) .target,
.level-3 .level-part:nth-child(4) .static-img {
  background-image: url("../img/png/4.png");
}
.level-3 .level-part:nth-child(5) .target,
.level-3 .level-part:nth-child(5) .static-img {
  background-image: url("../img/png/5.png");
}
.level-3 .level-part:nth-child(6) .target,
.level-3 .level-part:nth-child(6) .static-img {
  background-image: url("../img/png/6.png");
}

img,
.jsgif,
canvas,
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

canvas {
  display: none;
}

.ff-container {
  position: relative;
  height: 100%;
  display: flex;
}

.compass {
  position: fixed;
  z-index: 100;
  display: flex;
  overflow: hidden;
  background: gold;
  opacity: 0.2;
}
.compass .viewport {
  position: absolute;
  height: 100%;
  width: 120%;
  background-color: gold;
  display: flex;
  left: 0;
}
.compass .viewport .meter {
  position: relative;
  width: calc( 100% / 6 );
  height: 100%;
}

#compass-x {
  top: 1em;
  left: 50%;
  width: calc(20px * 20);
  height: 1em;
  transform: translateX(calc(-50% - 1px));
}
#compass-x:after {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  background: rgba(255, 0, 0, 0.6);
  left: calc( 50% - 0px );
}
#compass-x .meter {
  display: flex;
  justify-content: space-between;
}
#compass-x .meter-line {
  width: 2px;
  height: 50%;
  background-color: black;
}
#compass-x .meter-line.mlx-0 {
  height: 100%;
}
#compass-x .meter-line.mlx-5 {
  height: 75%;
}
#compass-x .meter-line.mlx-9 {
  margin-right: 8px;
}

.elevator-controls {
  position: absolute;
  height: 40%;
  width: 12%;
  left: 0;
  top: 50%;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0em) rotateY(30deg);
  background: pink;
}
.elevator-controls .elevator-up,
.elevator-controls .elevator-down {
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: darkmagenta;
}
.elevator-controls .elevator-down {
  bottom: 0;
}
