html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::selection {
  background: black;
  /* WebKit/Blink Browsers */
  color: white;
}

::-moz-selection {
  background: black;
  /* Gecko Browsers */
  color: white;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lightblue;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  perspective: 800px;
  -moz-perspective: 800px;
}

#info-box {
  padding: 5px;
  font-family: arial;
  z-index: 100;
  position: fixed;
  background: red;
  top: 0;
  left: 0;
  width: 200px;
  min-height: 30px;
  background: red;
  color: white;
}

#square {
  width: 200vw;
  height: 200vw;
  position: absolute;
  transform: translate(-50%, -50%) rotateX(-90deg);
  transform: rotateX(-90deg);
  transform-style: preserve-3d;
}
#square #x-axis,
#square #z-axis {
  transform-style: preserve-3d;
  position: absolute;
  width: 200vw;
  height: 200vw;
}
.top,
.bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 100%);
}

.left,
.right {
  position: absolute;
  width: 100%;
  height: 150vw;
  background: red url("img/aqua.jpg");
  transform: translate3d(0, 0, -75vw) rotateX(90deg);
  -webkit-transform-origin: 0 0 0;
  -moz-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  -o-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.right {
  top: 100%;
}

.top {
  transform: translate3d(0, 0, -75vw);
  background: lightgray;
}

.bottom {
  transform: translate3d(0, 0, 75vw);
  background: gray;
}

.ff-container {
  position: relative;
  height: 100%;
  display: flex;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.compass {
  position: fixed;
  z-index: 100;
  display: flex;
  overflow: hidden;
  background: gold;
  opacity: 0.2;
}
.compass .viewport {
  position: absolute;
  height: 100%;
  width: 120%;
  background-color: gold;
  display: flex;
  left: 0;
}
.compass .viewport .meter {
  position: relative;
  width: calc( 100% / 6 );
  height: 100%;
}

#compass-x {
  top: 1em;
  left: 50%;
  width: calc(20px * 20);
  height: 1em;
  transform: translateX(calc(-50% - 1px));
}
#compass-x:after {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  background: rgba(255, 0, 0, 0.6);
  left: calc( 50% - 0px );
}
#compass-x .meter {
  display: flex;
  justify-content: space-between;
}
#compass-x .meter-line {
  width: 2px;
  height: 50%;
  background-color: black;
}
#compass-x .meter-line.mlx-0 {
  height: 100%;
}
#compass-x .meter-line.mlx-5 {
  height: 75%;
}
#compass-x .meter-line.mlx-9 {
  margin-right: 8px;
}
